.projects_cards {
    width: 100%;
    margin-bottom: 20px;
}

.projects_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4rem, 32rem));
    gap: 2rem;
    justify-content: center;
}

.projects_back_container {
    display: flex;
    margin: 50px 100px;
}

.projects_back {
    text-decoration: none;
    color: var(--color-white);
    font-size: 18px;
    font-weight: 700;
    transition: all 0.4s;
}

.projects_back:hover {
    color: var(--main-color);
}