.app_container {
  width: 100%;
  height: 90vh;
  padding-bottom: 4rem;
  background-image: url('./assets/background-white.svg');
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
}