.home-container {
  width: 100%;
  height: 100vh;
}

.hero {
  width: 100%;
  height: 100%;
  min-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.projects {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.hero-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-projects {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.hero-img {
  height: 200px;
  width: 200px;
  position: relative;
}

.hero-img-inner {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-color: var(--main-color);
  z-index: 1;
  -webkit-animation: img 1.5s;
  animation: img 1.5s;
}

.hero-deco1 {
  position: absolute;
  height: 150px;
  width: 150px;
  z-index: -100;
  top: -25px;
  right: -25px;
  background: radial-gradient(var(--color-black) 25%, transparent 30%);
  background-repeat: repeat;
  background-size: 10px 10px;
  animation: imgDeco 1.8s;
}

.hero-text {
  padding: 25px 10px 30px;
  text-align: center;
}

.hero-name {
  font-size: 5em;
  font-weight: 900;
  font-family: Sora;
  padding: 0 20px 5px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(transparent),
    color-stop(5%, transparent),
    color-stop(5%, var(--main-color)),
    color-stop(25%, var(--main-color)),
    color-stop(25%, transparent),
    to(transparent)
  );
}

.hero-desc {
  font-size: 3.3em;
  font-family: "DM Sans";
  font-weight: 500;
  color: var(--main-black);
}

.hero-social {
  display: flex;
  margin-bottom: 50px;
}

.hero-link a {
  color: #fff;
  font-size: 1.4em;
  background-color: var(--color-black);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  transition: all 1s;
  overflow: hidden;
}

.hero-link a:hover {
  background-color: var(--main-color);
}

.hero-link:nth-child(2) {
  margin: 0 25px;
}

.effects {
  max-width: 1000px;
  position: relative;
  height: 100%;
  margin: -100vh auto 0;
  z-index: -100;
}

.hero-btn {
  text-decoration: none;
  color: var(--color-white);
  border: thin solid var(--color-white);
  border-radius: 20px 100px;
  padding: 20px;
  margin: 20px;
  transition: all 0.4s;
  background-color: transparent;
  cursor: pointer;
}

.hero-btn:hover {
  color: var(--color-black);
  background-color: var(--main-color);
  border: thin solid var(--main-color);
}

.bg-effect1 {
  top: 0;
  right: 0;
  position: absolute;
  height: 150px;
  width: 125px;
  background: radial-gradient(var(--main-color) 30%, transparent 30%);
  background-size: 25px 25px;
  background-repeat: repeat;
  z-index: -1;
  -webkit-animation: ef1 1.2s;
  animation: ef1 1.2s;
}

.bg-effect2 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 250px;
  width: 175px;
  background: radial-gradient(var(--main-color) 30%, transparent 30%);
  background-size: 25px 25px;
  background-repeat: repeat;
  z-index: -1;
  -webkit-animation: ef2 1.6s;
  animation: ef2 1.6s;
}

.bg-effect3 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 255px;
  background: radial-gradient(var(--color-black) 30%, transparent 30%);
  background-size: 25px 25px;
  background-repeat: repeat;
  z-index: -1;
  -webkit-animation: ef3 2s;
  animation: ef3 2s;
}

.hero-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espacio entre los botones */
  flex-wrap: wrap; /* Permite que los botones se acomoden en varias filas en pantallas pequeñas */
}

@media only screen and (max-width: 1024px) {
  .hero-name {
    font-size: 4em;
  }
  .hero-desc {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 768px) {
  .hero-name {
    font-size: 3em;
  }
  .hero-desc {
    font-size: 2em;
  }
  .hero-social {
    gap: 10px; /* Reduce el espacio entre íconos */
  }

  .hero-link a {
    font-size: 1.2em; /* Reduce el tamaño de los íconos */
    height: 50px;
    width: 50px;
  }
  .hero-link:nth-child(2) {
    margin: 15px 0;
  }
}

@media only screen and (max-width: 480px) {
  .hero-name {
    font-size: 2em;
  }
  .hero-desc {
    font-size: 1.5em;
  }
  .hero-btn {
    padding: 15px;
    font-size: 0.9em;
  }
}
