.card_container {
    position: relative;
    width: 38vw;
    height: 38vh;
    margin: 30px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 2px 2px #212121;
}

/* .card_content {
    z-index: 990;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: transparent;
    transition: 1s;
} */

.card_image {
    z-index: 980;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    object-fit: cover;
}

/* .card_content:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    border-radius: 20px;
    color: var(--font-white);
    background-color: #2121218c;
} */

.card_container:hover {
    animation: pulsate 2s ease-in-out;
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 15px #fbb304,
                    0 0 40px #fcc434;
    }
}