@import url(https://fonts.googleapis.com/css2?family=DM+Sans&family=Sora:wght@600;700;800&display=swap);
:root {
  --main-color: #F5C016;
  --color-black: #212121;
  --color-white: #efeeff;
  --font-black: #212121;
  --font-white: #efeeff;

}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "DM Sans", system-ui, sans-serif;
  color: var(--color-white);
  /* background-color: var(--color-black); */
  background-color: #101010;
  transition: all 0.3s ease 0s;
  font-weight: normal;
  overflow-wrap: break-word;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  color: #212121;
  background-color: var(--main-color);
}

textarea {
  resize: none !important;
}